%li.menu-item
  - if membership_app.editable_by? current_user
    = link_to t('menus.nav.users.my_application'), edit_membership_application_path(membership_app)
  - else
    = link_to t('menus.nav.users.my_application'), membership_application_path(membership_app)
